body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-image: radial-gradient(circle, rgba(174,216,238,1) 0%, rgba(5,117,230,1) 100%);
}

.App{
  text-align: center;
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  color: white;
  margin: 0 auto;
}

.placement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.radio-content{
  width: 100%;
  border: 2px solid white;
}

.navbar{
  height: 80px;
  width: 100%;
  justify-content: unset;
}

.title-container img{
  height: 60px;
  background-color: white;
  margin-left: 50px;
  border-radius: 50%;
}

.title-container p{
  font-size: 2rem;
  font-weight: bold;
  padding-left: 20px;
  margin: 0;
}

.home-container{
  display: flex;
  width: 100%;
  height: 100%;
  border-top: 2px solid white;
}

.filter-container{
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.filter-search{
  margin: 0  20px 0;
}

.filter-title{
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.filter-search select{
  width: 100%;
  padding: 8px;
  margin-bottom: 20px; 
}

.genre-btn{
  height: 35px;
  width: 100%;
  outline: none;
  border: none;
  background-image:linear-gradient(rgb(148, 145, 145), #5b5c5b);
}

.selected-genre{
  height: 30px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #ef6c00;
}

.stationpanel{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 900px; 
  border-left: 2px solid white 
}

.stations-container{
  margin-top: 20px;
  margin-bottom: 10px;
}

.station-box{
  width: 270px;
  margin: 10px; 
  justify-content: left;
}

.station-box div{
  align-self: center;

  display: flex;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: #6d706f;
  margin-left: -20px;

  position: relative;
}

.station-box div p{
  width: 150px;
  font-size: 14px;
  margin-left: 20px; 
} 

.station-box button{
  height: 50px;
  width: 50px;  
  border-radius: 50%;
  background-color: #ef6c00;
  margin-right: -20px;
  border: 2px solid black;
}

.play-btn{
  font-size: 40px;
  color: #6d706f;
  background-color: #ef6c00;
  border-radius: 50%;
  margin-left: -3px;
}

.station-box img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #6d706f;
  background-color: white;
  z-index:1;
}

.pagenumbers{
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.pagenumbers li{
  align-self: center;
  padding: 8px;
  cursor: pointer; 
  border: 1px solid white;
}

.pagenumbers li.active{
  background-color: white;
  color: black;
}

.pagenumbers  button{
  background-color: transparent;
  color: white;
  padding: 8px;
  cursor: pointer;
  border: 1px solid white;
}

.pagenumbers button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

.pagenumbers li button:focus{
  outline:none;
}

.station-search{
  margin-top: 10px;
}

.station-search label{
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  margin-right: 10px;
}

.station-search input{
  padding: 10px;
  width: 600px;
}

.no-play-box{
  height: 0px;
  transition: height 0.5s ease-in;
}

.play-box{
  justify-content: space-between;
  height: 70px;
  color: black;
  padding: 10px;
  transition: height 1s linear;
  overflow: hidden;
  border-bottom: 2px solid white;
}

.play-box p{
  font-weight: bold;
}

.play-box button{
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.toggle-btn{
  font-size: 55px;
  color: #6d706f;
  background-color: #ef6c00;
  border-radius: 50%;
}

.icon-btn{
  font-size: 40px;
  color: #6d706f;
}
.css_animation{
  overflow: hidden;
  width: 50%;
  height: 100%;
  margin-left: -40px;
}

.css_animation .wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.css_animation .wrapper div{
  height: 100%;
  width: 2%;
  border-radius: 5px;
  position: absolute;
}
.css_animation .wrapper div:nth-of-type(1){
  animation: prop 17s 0.000s linear infinite
}
.css_animation .wrapper div:nth-of-type(2){
  animation: prop 17s -16.227s linear infinite
}
.css_animation .wrapper div:nth-of-type(3){
  animation: prop 17s -15.455s linear infinite
}
 .css_animation .wrapper div:nth-of-type(4){
  animation: prop 17s -14.682s linear infinite
}
.css_animation .wrapper div:nth-of-type(5){
  animation: prop 17s -13.905s linear infinite
}
.css_animation .wrapper div:nth-of-type(6){
  animation: prop 17s -13.136s linear infinite
}
.css_animation .wrapper div:nth-of-type(7){
  animation: prop 17s -12.364s linear infinite
}
.css_animation .wrapper div:nth-of-type(8){
  animation: prop 17s -11.591s linear infinite
}
.css_animation .wrapper div:nth-of-type(9){
  animation: prop 17s -10.818s linear infinite
}
.css_animation .wrapper div:nth-of-type(10){
  animation: prop 17s -10.045s linear infinite
}
.css_animation .wrapper div:nth-of-type(11){
  animation: prop 17s -9.273s linear infinite
}
.css_animation .wrapper div:nth-of-type(12){
  animation: prop 17s -8.500s linear infinite
}
.css_animation .wrapper div:nth-of-type(13){
  animation: prop 17s -7.727s linear infinite
} 
.css_animation .wrapper div:nth-of-type(14){
  animation: prop 17s -6.955s linear infinite
} 
.css_animation .wrapper div:nth-of-type(15){
  animation: prop 17s -6.182s linear infinite
} 
.css_animation .wrapper div:nth-of-type(16){
  animation: prop 17s -5.409s linear infinite
} 
.css_animation .wrapper div:nth-of-type(17){
  animation: prop 17s -4.636s linear infinite
} 
.css_animation .wrapper div:nth-of-type(18){
  animation: prop 17s -3.864s linear infinite
} 
.css_animation .wrapper div:nth-of-type(19){
  animation: prop 17s -3.091s linear infinite
} 
.css_animation .wrapper div:nth-of-type(20){
  animation: prop 17s -2.318s linear infinite
} 
.css_animation .wrapper div:nth-of-type(21){
  animation: prop 17s -1.545s linear infinite
} 
.css_animation .wrapper div:nth-of-type(22){
  animation: prop 17s -0.773s linear infinite
} 

@keyframes prop {
  0% {
    background: red;
    left:0;
  }
  5%{
    height: 100%;
    margin-top: 0;
    background: #9337fe;
  }
  10%{
    height: 100%;
    margin-top: 0;
    background: #c532fc;
  }
  20%{
    height: 30%;
    margin-top: 5%;
    background: #3af9da;
  }
  30%{
   
    height: 100%;
    margin-top: 0;
    background: #3af9da;
  }
  40%{
    height: 30%;
    margin-top: 5%;
    background: #3af9da;
  }
  50%{
    height: 100%;
    margin-top: 0;
    background: #3af9da;
  }
  60%{
    height: 100%;
    margin-top: 0;
    background: #3af9da;
  }
  70%{
    height: 30%;
    margin-top: 5%;
    background: #54e678;
  }

  75%{
    height: 100%;
    margin-top: 0;
    background: #4df3a9;
  }
  80%{
    height: 100%;
    background: #3af9da;
  }
  
  85%{
    height: 100%;
    margin-top: 0;
    background: #36ebf4;
  }
  90%{
    height: 30%;
    margin-top: 5%;
    background: #3dbf3f;
  }
  95%{
    background: #3c82f1;
  }
  100%{
    left: 100%;
    height: 100%;
    background: #5b38ec;
  }
}